# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Secrets
.env
*.pem

AI_Homework_SnapSoft.pdf

# Local working files
curated_output.csv